
.vs/hello/v15/.suo
.vs/hello/v15/.suo
.vs/hello/v15/.suo
*.ide-shm
.vs/hello/v15/Server/sqlite3/storage.ide-wal
.vs/hello/v15/Server/sqlite3/storage.ide-shm
.vs/hello/v15/.suo
.vs/hello/v15/Server/sqlite3/storage.ide-wal
.vs/hello/v15/Server/sqlite3/storage.ide-shm
